.fc{
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.boom{
    width: 80vw;
    padding: 50px 50px;
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
}

@media(max-width:500px){
    .fc{
        background-color: white;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
    }
    .boom{
        width: 90vw;
        padding: 20px 20px;
        box-shadow: 0 0 2.5px grey;
        border-radius: 10px;
    }
    .miow{
        font-size: 13px;
    }
    .parao{
        font-size: 10px;
    }
    .lao{
        font-size: 10px;
    }
    strong{
        color: black;
    }
}