@media(max-width:500px){
    .text-center{
        font-size: 17px;
        color: white;
    }   
    .a{
        font-size: 12px;
        color: white;
    } 
    .b{
        font-size: 13px;
        font-weight: 900;
        color: white;
    }
    .c{
        font-size: 8px;
        color: white;
    }
    .bc{
        font-size: 8px;
        font-weight: 900;
    }
    .btn{
        font-size: 10px;
        margin: 0px;
        height: 30px;
        width: 100px;
    }
    textarea::placeholder{
        font-size: 10px;
    }
    .thurr{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}


